<ion-view view-title="Como ajudar">
  <ion-content class="padding">
    <!-- div class="list card" ng-repeat="address in addresses">
      <div class="item item-divider">{{ address.address }}</div>
      <div class="item item-body">
        <div>
          {{ address.location.lat }}
	  {{ address.location.lng }}
         </b>
        </div>
      </div>
    </div -->
    <div>
     <h4><i> Pelo aplicativo, busque o abrigo mais próximo de você, e entre em contato pessoalmente ou por telefone com responsável. Se informe a melhor maneira de ajudar!</i></h4>
    </div>
  </ion-content>
</ion-view>
